<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-in</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<form th:action="@{/user/perform-check-in}"
      th:object="${user}" method="post">




<h1>Check-in</h1>
<p>Time to check-in, <span th:text="${#authentication.name}"></span>!</p>

<!-- Display user information -->
<div th:if="${user != null}">
    <h2>User Information</h2>
    <p><strong>First name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Reservation ID:</strong> <span th:text="${reservation.reservationId}"></span></p>
    <p><strong>Flight Number:</strong> <span th:text="${flight.flightNumber}"></span></p>
    <p><strong>From :</strong> <span th:text="${flight.departure}"></span></p>
    <p><strong>to   :</strong> <span th:text="${flight.arrival}"></span></p>
    <p><strong>seat:</strong> <span th:text="${reservation.seatClass.description}"></span></p>
</div>
    <label>
        <input type="text" name="reservationId" th:value="${reservation.reservationId}" style="display: none;">
    </label>

    <!-- Display reservation ID -->
<div th:if="${reservations != null }">
    <h2>Reservation To Check-in</h2>
    <table class="table table-stripped">
        <thead>
        <tr>
            <th> ID :</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td th:text="${reservation.reservationId}"></td>
            </tr>
        </tbody>



    </table>



</div>




    <!-- Add more input fields as needed for your check-in process -->
<br>

    <!-- Submit button to submit the form -->
    <button class="btn btn-warning" type="submit">Check-in</button>
</form>

<br>
<a th:href="@{/Home}" class="btn btn-primary">Home</a>
</body>
</html>
